body {
    background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
                  url("../../media/examples/lizard.png");
}

img {
    width: 400px;
    height: auto;
    float: none;
    align-items: flex-end;
    float: inline-start;
}

.content {
    padding: 100px;
}

nav {
    height: 100px;
    background-color: darkgrey;
}

.header div {
    padding-top: 30px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

ul {
    float: right;
    margin-left: 400px;
    font-size: 20px;
}

section {
    font-size: 26px;
    color: #ffff00;
    background-color: #800080;
    padding-bottom: 400px;
    padding-left: 50px;
}

li {
    display: inline;
    padding: 20px;
}

p {
    font-size: 20px; 
}
